<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Chat App</title>
  <link rel="stylesheet/less" type="text/css" href="stylesheets/less/bootstrap.less">
  <script src="/javascripts/jquery-1.7.2.min.js"></script>
  <script src="/javascripts/less-1.3.0.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/handlebars-1.0.0.beta.6.js"></script>
  <script src="/javascripts/ember-1.0.0-pre.2.min.js"></script>
  <script src="/javascripts/templates.js"></script>
  <script src="/javascripts/client.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/io.js"></script>
</head>
<body>
</body>
</html>